div.fluid
{
width: 90% !important;
}
img
{
    width: 300px;
}
a
{
text-decoration: underline;
color: #D90000;
}




/* Header */

#header
{
width:100%;
height:122px;
background: #440000 url('images_red/n1.gif') repeat-x;
margin: 0;
}

#header_inner
{
position: relative;
width: 950px;
height:122px;
margin: 0 auto;
}

/* Logo */

#logo
{
position: absolute;
bottom: 0.6em;
}


/* Menu */

#menu
{
position: absolute;
right: 0em;
bottom: 0em;
}

#menu ul
{
list-style: none;
}

#menu li
{
float: left;
}

#menu li a
{
margin-left: 0.5em;
display: block;
padding: 1.1em 1.4em 1.0em 1.4em;
background: #fff url('images_red/n4.gif') repeat-x;
border: solid 1px #fff;
color: #616161;
font-weight: bold;
font-size: 1.0em;
font-style: calibri;
text-decoration: none;
}



#main
{
background: #fff url('images_red/n2.gif') 0px 1px repeat-x;
}
#menu li a:hover{
    background: #CA2F2F url('images_red/n3.gif') repeat-x;
    color: #fff;
    border: solid 1px #A94B4B;
}
#menu ul li a.active{
    background: #CA2F2F url('images_red/n3.gif') repeat-x;
    color: #fff;
    border: solid 1px #A94B4B;
}