<body>
    <div>
<button class="button button1" routerLink="/sec-allot">
	vehicle check-in
	<div class="button__horizontal"></div>
	<div class="button__vertical"></div>
</button>
<button class="button button2" routerLink="/sec-view">
	parked vehicles  
	<div class="button__horizontal"></div>
	<div class="button__vertical"></div>
</button>
<br><br><br><br><br>
<button class="button button3" routerLink="/sec-delete">
	vehicle check-out
	<div class="button__horizontal"></div>
	<div class="button__vertical"></div>
</button>
</div>
</body>