<div class="admin">
<h1 align="center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
  Admin Panel <mat-icon>build</mat-icon></h1>
  <button mat-raised-button color="warn" [routerLink]="['/admin-login']" style="margin-left:90%;">Sign Out</button>
  <button class="button button1" routerLink="/admin-create">
	Add a Parking Plot
	<div class="button__horizontal"></div>
	<div class="button__vertical"></div>
</button>
<button class="button button2" routerLink="/admin-view">
	View the Parking Plots  
	<div class="button__horizontal"></div>
	<div class="button__vertical"></div>
</button>
</div>